<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @motion_event.event %>
</p>

<%= link_to 'Edit', edit_motion_event_path(@motion_event) %> |
<%= link_to 'Back', motion_events_path %>
